body{
    background-color: grey;
}

#popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    z-index: 999;
}

#popup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000000;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 435px;
    height: auto;
}

#popup-box h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

#popup-box button {
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    margin-top: 5px;
}